[defaults]
inventory = inventory.yml
host_key_checking = False
retry_files_enabled = False
gathering = explicit
stdout_callback = default
result_format = yaml
deprecation_warnings = False
roles_path = ./roles:./methods/srlinux_gnmi/roles:./methods/gnmi_modules/roles

[inventory]
enable_plugins = yaml
